.navbar-uk {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1400px;
  background-color: rgba(255, 255, 255, 0.868);
  box-shadow: 0 0 8px rgba(174, 174, 174, 0.571);
  z-index: 999;
  border-radius: 14px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-uk.navbar-scrolled {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.navbar-main-uk {
  max-width: 1380px;
  margin: auto;
  padding: 4px 8px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: relative;
}

.selectctn{
  border-radius: 32px !important;
}
.nav-left-uk {
  justify-self: start;
}

.tesg-logo-uk {
  justify-self:flex-start;
}

.tesg-logo-img-uk {
  height: 70px;
  width: auto;
  object-fit: contain;
}


.nav-right-uk {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;
}


  .nav-links-uk .nav-Parent-ul-uk{
    display: flex;
    align-items: center;
    gap: 45px;
    margin: 0 5px;
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
  }
   
  .nav-links-uk a span {
    font-size: 10px;
  }

.talk-button-uk {
      font-family: 'Poppins-Regular';
  background-color:  #003d99;
  color: white;
  border: none;
  padding: 10px 11px !important;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.98rem;
  font-weight: 500;
  transition: background 0.3s;
}

.nav-close-icon-uk{
  display: none;
}

.dropdown-parent-uk .dropdown-uk {
  display: none;
}

.dropdown-parent-uk.open .dropdown-uk {
  display: block;
  cursor: pointer;
}

  .dropdown-parent-uk:hover .dropdown-uk {
    display: block;
  }


  /* === Dropdown Styles for Desktop === */
.dropdown-parent-uk {
  position: relative;
}

.dropdown-uk {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 280px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 10px 0;
  z-index: 1003;
}

.dropdown-uk li {
  cursor: pointer;
  list-style: none;
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdown-uk li a {
  color: rgb(102, 102, 102);
  text-decoration: none;
  font-size: 16px;
}

.dropdown-uk li:hover {
  color: white !important;
  background-color: #00264d !important;
}

.dropdown-uk li:hover a {
  color: white !important;
}


.talk-button-uk:hover {
  background-color: #003d99;
}

.menu-icon-uk {
  display: none;
  position: absolute;
  right: 20px;
  top: 22px;
  cursor: pointer;
  z-index: 1001;
}


.nav-close-icon-uk {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.nav-tesg-Services-uk{
  display: flex;
  align-items: center;
}

.overlay-uk {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}

 @media (max-width: 991px) {
    .menu-icon {
      display: block;

    }

    .navbar-uk {
  position: fixed;
  top: 0;
  border-radius: 0;
    }
    .icon-menu-s{
           font-size: 28px !important;
    }

    .nav-links-uk .nav-Parent-ul-uk{
      gap: 20px;
      align-items: start;
          margin-top: 10px;
    }

  
    .nav-links-uk {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 300px;
      background-color: white;
      flex-direction: column;
      padding: 40px 10px 10px 20px;
      box-shadow: 2px 0 8px rgba(0,0,0,0.2);
      transition: left 0.3s ease-in-out;
      z-index: 1901;
    }

    .nav-close-icon-uk {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    z-index: 1002;
  }
  
    .nav-links-uk.open {
      left: 0;
    }
  
    .nav-links-uk a {
      margin: 2px 0;
      font-size: 16px;
    }
  
    .navbar-main-uk {
  grid-template-columns: 2fr auto 1fr;
  align-items: center;
  justify-content: end;
  justify-items: end;
    padding: 4px  8px;

    }
  
    .talk-button-uk{
      display: none;
    }

      
  }
  

.nav-Parent-ul-uk {
  padding: 0;
  margin: 0;
}


@media (max-width: 991px) {
  .nav-Parent-ul-uk {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav-Parent-ul-uk li {
    padding: 5px 0;
  }

  .dropdown-parent-uk > span {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: 18px;
  }

  .dropdown-uk {
     min-width: 250px;
  }

  .dropdown-parent-uk .dropdown-uk {
    display: none;
    flex-direction: column;
    background: #ffffff;
    list-style: none;
    box-shadow: none;
    padding:  12px 0;

  }

  .dropdown-parent-uk.open .dropdown-uk {
    display: flex;
  }

  .dropdown-uk li {
    padding: 10px 0;
  }

  .dropdown-uk li a {
    font-size: 14px;
    padding: 0 !important;
  }

    .lang-select{
    position: absolute !important;
    top: 32px !important;
    right: 65px !important;
    z-index: 99 !important;
    display: block;
    border-radius: 5px;
    padding: 5px  ;
    }
}
